<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>TLA! Three Letter Acronyms, just for you.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="styles/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="styles/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="styles/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="styles/tla.css" type="text/css" rel="stylesheet">
        <link href="styles/twitter-btn.css" type="text/css" rel="stylesheet">
        <script src="scripts/jquery-2.1.0.min.js" type='text/javascript'></script>
        <script src="scripts/knockout-3.1.0.js" type='text/javascript'></script>
        <script src="scripts/app.js" type='text/javascript'></script>
    </head>
    
    <body>
      <div class="container-full">
        <div class="interaction col-lg-6">
            <div class="well interaction-box">
              <form onSubmit="return false;">
                <fieldset>

                  <!-- Form Information -->
                  <h1>TLA</h1>
                  <span class="interaction-subtitle">
                    <p>Generate suggestions for your favourite Three Letter Acronyms</p>
                  </span>

                  <br />

                  <!-- User Input-->
                  <div class="form-group">
                    <input data-bind="value: acronym, valueUpdate: 'afterkeydown', event: { keypress: onKeypress }"
                     placeholder="Enter TLA..."
                     onfocus="placeholder = '';" 
                     onblur="placeholder = 'Enter TLA...';" 
                     class="form-control input-lg" 
                     id="AcronymInput"
                     type="text">
                  </div>

                  <div data-bind="visible: suggestion()" class="tla-hint">
                    Press Enter for another suggestion
                  </div>

                  <!-- Result Output -->
                  <div data-bind="text: result, visible: acronym() && suggestion()" class="tla-result-group">
                  </div>

                  <div id="SocialMedia" class="social-media-group">
                    <div id="twitter" class="social-media-item" >
                      <a id="tweet" data-bind="attr: { 'href': twitterUrl }" target="_blank"><img id="twitter_icon" src="styles/images/twitter.png" onmouseover="hover(this);" onmouseout="unhover(this);"></a>
                    </div>
                    <div id="facebook" class="social-media-item">
                      <a id="fb" data-bind="attr: { 'href': facebookUrl }" target="_blank"><img id="facebook_icon" src="styles/images/facebook.png" onmouseover="hover(this);" onmouseout="unhover(this);"></a>
                    </div>
                    <div id="googleplus" class="social-media-item">
                      <a id="google_plus" href="https://plus.google.com/share?url=http%3A%2F%2Ftla.herokuapp.com" target='_blank'><img id="googleplus_icon" src="styles/images/googleplus.png" onmouseover="hover(this);" onmouseout="unhover(this);"></a>
                    </div>
                    <div id="linkedin" class="social-media-item">
                      <a id="linkedin_link" href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Ftla.herokuapp.com&title=TLA!%20Three%20Letter%20Acronyms%2C%20just%20for%20you." target='_blank'><img id="linkedin_icon" src="styles/images/linkedin.png" onmouseover="hover(this);" onmouseout="unhover(this);"></a>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>

      </div>
        
    </body>
</html>
