<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <title>TLA! Three Letter Acronyms, just for you.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="styles/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="styles/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="styles/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="styles/tla.css" type="text/css" rel="stylesheet">
        <script src="scripts/jquery-2.1.0.min.js" type='text/javascript'></script>
        <script src="scripts/knockout-3.1.0.js" type='text/javascript'></script>
        <script src="scripts/app.js" type='text/javascript'></script>
    </head>
    
    <body >
      <div class="container-full">
        <div class="interaction col-lg-6">
            <div class="well interaction-box">
              <form onSubmit="return false;">
                <fieldset>

                  <!-- Form Information -->
                  <h1>TLA</h1>
                  <span class="interaction-subtitle">
                    <p>Generate suggestions for your favourite Three Letter Acronyms</p>
                  </span>

                  <br />

                  <!-- User Input-->
                  <div class="form-group">
                    <input data-bind="value: acronym, valueUpdate: 'afterkeydown'"
                     placeholder="Enter TLA..."
                     onfocus="placeholder = '';"  
                     class="form-control input-lg" 
                     type="text">
                  </div>

                  <!-- Result Output -->
                  <div data-bind="text: result, visible: acronym() && suggestion()" class="tla-result-group">
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>

      </div>
        
    </body>
</html>
